configure
INSTALL
Makefile
Makefile.in
config.*
*.deps*
*.la
*.libs*
*.lo
*moc*
*.o

h5plotserie/aclocal.m4
h5plotserie/autom4te.cache/
h5plotserie/compile
h5plotserie/depcomp
h5plotserie/h5plotserie/h5plotserie
h5plotserie/install-sh
h5plotserie/libtool
h5plotserie/ltmain.sh
h5plotserie/missing
h5plotserie/stamp-h1
hdf5serie/aclocal.m4
hdf5serie/autom4te.cache/
hdf5serie/compile
hdf5serie/depcomp
hdf5serie/doc/Doxyfile
hdf5serie/hdf5serie.pc
hdf5serie/hdf5serie/check/testdump.sh
hdf5serie/hdf5serie/dump/h5dumpserie
hdf5serie/hdf5serie/dump/h5dumpserie.m
hdf5serie/hdf5serie/dump/h5flushserie
hdf5serie/hdf5serie/dump/h5lsserie
hdf5serie/hdf5serie/dump/hdf5serieappenddataset.m
hdf5serie/install-sh
hdf5serie/libtool
hdf5serie/ltmain.sh
hdf5serie/missing
hdf5serie/stamp-h1
hdf5serie/test-driver
