[Desktop Entry]
Type=Application
Name=H5Plotserie
Comment=HDF5 Plotserie - Plotting of time series from HDF5 files
Icon=mbsim-env.h5plotserie
Exec=@bindir@/h5plotserie %F
Terminal=false
MimeType=application/vnd.mbsim-env.h5plotserie;
Categories=Education;Science;ComputerScience;Math;NumericalAnalysis;Physics;Robotics;Engineering;
