[Desktop Entry]
Type=Application
Name=H5Plotserie
Icon=mbsim-env.h5plotserie
Exec=@bindir@/h5plotserie %F
MimeType=application/vnd.mbsim-env.h5plotserie;
