[Desktop Entry]
Type=Application
Name=H5Plotserie
Comment=HDF5 Plotserie - Plotting of time series from HDF5 files
Icon=mbsim-env.h5plotserie
IconWindows="@bindir@/h5plotserie.exe",0
Exec="@bindir@/h5plotserie" --CC %F
ExecWindows="@bindir@/h5plotserie.exe" --CC "%1"
Terminal=false
MimeType=application/vnd.mbsim-env.h5plotserie;
Categories=Science;ComputerScience;NumericalAnalysis;Physics;Math;Robotics;
